{% extends "registration/base.html" %}

{% load bootstrap3 %}
{% load static %}  

{% block title %}SGEUFN / Login{% endblock %}

{% block content %}
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <br>
        <h2 align='center'>Sistema de Gestão de Eventos UFN</h2>

        <h4 align='center'>Sistema em desenvolvimento pelo Laboratório de Práticas</h4>
        
        <p align="justify">
          Este é o resultado de um projeto desenvolvido por alunos dos cursos da área de Computação e voluntários no <a href='https://www.lapinf.ufn.edu.br' target='__blank'>Laboratório de Práticas UFN</a>, em parceria com a empresa <a href='http://erclinic.com.br/' target='blank'>ER Clinic</a>. </a>
        </p>
          
        <h4>Por que escolher o SGEUFN?</h4>
        <ul>
          <li>Gratuito e Acessível: A plataforma é totalmente gratuita, garantindo que todos os pesquisadores, independentemente de recursos financeiros, possam submeter e avaliar trabalhos científicos;</li>
          <li>Facilidade de Uso: A interface intuitiva do SGEUFN permite que você envie seus artigos com facilidade e acompanhe o processo de avaliação de forma transparente e eficiente;</li>
          <li>Colaboração Acadêmica: Ao possibilitar que organizadores de eventos criem chamadas de trabalhos, pesquisadores de diversas áreas e regiões irão poder contribuir com avaliações detalhadas. Dessa forma, o SGEUFN promove uma rede colaborativa e enriquecedora para o avanço da ciência;</li>
          <li>Feedback Valioso: Receba comentários construtivos e sugestões de melhoria de outros pesquisadores experientes, ajudando a elevar a qualidade de seus trabalhos.</li>
        </ul>
          
        <h4>Como funciona?</h4>
          <ol>
            <li>Criação de Chamadas de Trabalhos: Organizadores podem contar com uma ferramenta que recebe, distribui, promove avaliação, gera feedbacks e rankeia os artigos;</li>
            <li>Submissão de Artigos: Envie seu artigo para o SGEUFN. A plataforma auxilia nos processos de avaliação e rankeamento de trabalhos para eventos acadêmicos;</li>
            <li>Avaliação pelos Pares: Pesquisadores da sua área de atuação são convidados a avaliar seu trabalho, oferecendo feedback detalhado e imparcial.</li>
          </ol>
          
          <p>
          O SGEUFN vem suprir uma carência importante no cenário acadêmico, oferecendo uma solução eficaz para a avaliação de artigos científicos. 
          </p>
          <p align='center'>
            <span class="label label-warning"> Contate lapinf@ufn.edu.br para informações.</span>
            {% comment %} <a class="btn btn-info" style="width:100%;" href="mailto:lapinf@ufn.edu.br?subject=Assunto do email&bcc=alexz@ufn.edu.br&body=Conteúdo do email ...">{% bootstrap_icon 'glyphicon glyphicon-envelope' %} Para mais informações contate lapinf.ufn.edu.br</a> {% endcomment %}
          </p>
      </div> 
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        {% comment %} <div class="col-sm-6 col-md-4 col-md-offset-4"> {% endcomment %}
            <div class="text-center">
              <img src="{% static 'core/img/logoSGE_transparente.png' %}"
                   class="img-fluid" style="max-width: 200px;">
            </div>  
            <br>
              <div class="account-wall">
                <form class="form-signin" method="POST">
                {% csrf_token %}
                {% bootstrap_form form %}
                <span class="clearfix"></span>
                <p style="text-align:center;">
                  <button type="submit" style="width:100%;" class="btn btn-primary btn-small" >
                    {% bootstrap_icon 'glyphicon glyphicon-off' %} Entrar
                  </button>
                </p>
                <p style="text-align:center;">
                  <a class="btn btn-info" style="width:49%;" href="{% url 'usuario_register' %}">{% bootstrap_icon 'glyphicon glyphicon-user' %} Criar conta</a>
                  <a class="btn btn-warning" style="width:49%;" href="{% url 'password_reset' %}">{% bootstrap_icon 'glyphicon glyphicon-flag' %} Resetar senha</a>
                </p>
                </form>
              </div>
              <br>
              <div class="text-center">
                <a href="https://lapinf.ufn.edu.br" target="_blank"><img src="{% static 'core/img/logo_lapinf_hor.png' %}"
                  style="width: 140px;"></a>   
                  
                  <a href="http://erclinic.com.br/" target="_blank"><img src="{% static 'core/img/logoERClinic.png' %}"
                    style="width: 50px;"></a>                          
              </div>
              <div align="center">
                <hr>
                <p>Todos os direitos reservados | Desde 2024.</p>
            </div>
        </div>
    </div>
{% endblock %}
