{% extends "registration/base.html" %}

{% load bootstrap3 %}
{% load static %}  

{% block title %}SGEUFN / Login{% endblock %}

{% block content %}
  <style>
    .box-arredondado {
      border: 1px solid #ccc;
      border-radius: 16px;
      padding: 20px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      background-color: #ffffff;
    }
  </style>

  <div class="row">
    <br>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 box-arredondado">
      <div class="text-center">
        <img src="{% static 'core/img/logoSGE_transparente.png' %}"
              class="img-fluid" style="max-width: 260px;">
      </div>  
      <br>
        <div class="account-wall">
          <form class="form-signin" method="POST">
          {% csrf_token %}
          {% bootstrap_form form %}
          <span class="clearfix"></span>
          <p style="text-align:center;">
            <button type="submit" style="width:100%;" class="btn btn-primary btn-small" >
              {% bootstrap_icon 'glyphicon glyphicon-off' %} Entrar
            </button>
          </p>
          <p style="text-align:center;">
            <a class="btn btn-info" style="width:49%;" href="{% url 'usuario_register' %}">{% bootstrap_icon 'glyphicon glyphicon-user' %} Criar conta</a>
            <a class="btn btn-warning" style="width:49%;" href="{% url 'password_reset' %}">{% bootstrap_icon 'glyphicon glyphicon-flag' %} Resetar senha</a>
          </p>
          <br>
          <p align='center'>
            Dúvidas e/ou sugestões, contate: <b>lapinf@ufn.edu.br</b>.
          </p>
          <br>
          </form>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
    </div> 
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 box-arredondado">
      <h3 align='center'><b>SGE UFN</b></h3>
      <h4>Gestão de eventos e atestados</h4>
      <p align="justify">
        Desenvolvido com a colaboração de estudantes e voluntários do <a href='https://www.lapinf.ufn.edu.br' target='__blank'>Laboratório de Práticas UFN</a>, em parceria com a <a href='http://erclinic.com.br/' target='blank'>ER Clinic</a>, a plataforma foi criada para tornar a gestão de palestras, workshops e oficinas mais eficiente e acessível. Com ela, você pode acompanhar inscrições, controlar a frequência dos participantes e até gerar atestados de participação de forma rápida e sem complicação. 
      </p>
      <h4>Autentique os atestados</h4>
      <p align="justify">
        A autenticação dos atestados é feita através do código de verificação presente no documento gerado. Basta acessar o sistema (necessário criar conta, caso não tenha), clicar na opção "Autenticar Atestado" e inserir o código. O sistema irá verificar a validade do atestado e confirmar sua autenticidade.
      </p>
      <hr>
      <h4>Avisos</h4>
      <iframe style="border:0px; width:100%;" src="{% url 'aviso_list_iframe' %}"></iframe>
    </div> 
  </div>
  <div class="text-center">
    <hr>
    <a href="https://lapinf.ufn.edu.br" target="_blank"><img src="{% static 'core/img/logo_lapinf_hor.png' %}"
      style="width: 140px;"></a>   
      
      <a href="http://erclinic.com.br/" target="_blank"><img src="{% static 'core/img/logoERClinic.png' %}"
        style="width: 50px;"></a>                          
  </div>
  <div align="center">
    <hr>
    <p>Todos os direitos reservados | Desde 2025.</p>
</div>
{% endblock %}
