<h3>Projeto em Parceria entre o Curso Ciência da Computação, o Laboratório de Práticas da Computação UFN e a empresa ER Clinic.</h3>
<h4>Versão:</h4>
<ul>
	<li>1.0 de Maio de 2024</li>	
	<li>1.2 de Agosto de 2024</li>	
	<li>1.3 de Setembro de 2024</li>
	<li>2.0 de Outubro de 2024</li>	
</ul>
<h4>Apoio:</h4>
<ul>
	<li>Universidade Franciscana</li>
</ul>
<h4>
	Colaboradores:
</h4>
<ul> 
	<li><strong>UFN</strong></li>
		<ul>
			<li>Professores:</li>
			<ul>
				<li>Alexandre Zamberlan - responsável pela disciplina e integrante do Laboratório de Práticas da Computação</li>
				<li>Ana Paula Canal - coordenadora do curso de Ciência da Computação</li>
				<li>Fabrício T. Londero - coordenador do curso de Sistemas de Informação</li>
				<li>Mirkos Ortiz Martins - professor pesquisador dos cursos de Computação</li>
				<li>Ricardo Frohlich da Silva - coordenador do curso de Jogos Digitais</li>
				<li>Sylvio André Garcia Vieira - coordenador do Laboratório de Práticas da Computação</li>
			</ul>
			<br>
			<li>Alunos da disciplina Tópico Avançados em Informática I - Ciência da Computação - 2024</li>
			<ul>
				<li>Alexsander Cristofari</li>
				<li>Arthur Spironello</li>
				<li>Bernardo Viero</li>
				<li>Gabriel Fachim</li>
				<li>Guilherme Scalcon</li>
				<li>João Canha</li>
				<li>Luiz Batista Cardoso</li>
				<li>Matheus Faccin</li>
				<li>Matheus Braga</li>
				<li>Mauricio Braga</li>
				<li>Meani Freitas</li>
				<li>Paulo André Machado Maracci</li>
				<li>Roger Palma</li>
				<li>Vítor Possebon Bortoluzzi</li>
			</ul>
		</ul>
	{% comment %} <li><strong>Parceiro</strong>: <a href="https://www.linkedin.com/in/guilhermechagaskurtz/" target="__blank">Guilherme Chagas Kurtz</a></li>	 {% endcomment %}
</ul>
<h4>
	Consultoria:
</h4>
	<ul> 
		<li><a href="https://erclinic.com.br/" target="_blank"> Empresa ER Clinic</a> - Robertson Ebling dos Santos (egresso do curso de Sistemas de Informação UFN)</li>
	</ul>